html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #dfdfdf;
  background-color: #f0f0f0;
}

.navBar {
  background-color: #218c51;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.5;
  padding: 10px 0;
  height: 56px;
}
.navBar__logo {
  color: #dfdfdf;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 0;
  margin-left: 15px;
}
.navBar__logo:hover {
  color: #b9b935;
}
.navBar__list {
  display: flex;
}
@media only screen and (max-width: 360px) {
  .navBar__list {
    display: none;
  }
  .navBar__list--active {
    display: block;
    position: absolute;
    width: 100%;
    top: 56px;
    background-color: #218c51;
    text-align: left;
    padding: 10px 15px;
  }
}
.navBar__item {
  color: #dfdfdf;
  text-decoration: none;
  padding: 10px;
}
.navBar__item:hover {
  color: #b9b935;
}
@media only screen and (max-width: 360px) {
  .navBar__item {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 0;
    padding-right: 100%;
  }
}
.navBar__mobile {
  position: absolute;
  top: 0;
  right: 0;
  height: 56px;
  width: 56px;
}
@media only screen and (min-width: 360px) {
  .navBar__mobile {
    display: none;
  }
}
.navBar__hamburger {
  position: absolute;
  top: 14px;
  left: 10px;
  padding: 14px 18px;
}

.hamburger__toggle {
  right: 0;
  top: 11px;
}
.hamburger__toggle, .hamburger__toggle::before, .hamburger__toggle::after {
  display: block;
  content: "";
  width: 36px;
  height: 5px;
  position: absolute;
  background-color: #dfdfdf;
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.hamburger__toggle::before {
  top: -11px;
}
.hamburger__toggle:after {
  bottom: -11px;
}
.hamburger__toggle--active {
  background-color: transparent;
}
.hamburger__toggle--active::before, .hamburger__toggle--active::after {
  top: 0;
}
.hamburger__toggle--active::before {
  transform: rotate(45deg);
}
.hamburger__toggle--active::after {
  transform: rotate(135deg);
}

.banner {
  background: linear-gradient(rgba(63, 140, 33, 0.788), rgba(63, 140, 33, 0.747)), url("../../assets/pattern__img/full-bloom/full-bloom.png"), repeat;
  color: #dfdfdf;
  padding: 1.5em 1em;
  font-size: 3em;
}
.banner__title {
  line-height: 1.2;
}

@media only screen and (min-width: 990px) {
  .projects {
    margin: 20px;
  }
}

.project {
  display: block;
}
@media only screen and (min-width: 500px) {
  .project {
    margin: 20px;
  }
}
@media only screen and (min-width: 990px) {
  .project {
    display: flex;
  }
}
@media only screen and (min-width: 990px) {
  .project__showcase {
    width: 50%;
  }
}
.project__info {
  padding: 1em;
  background-color: #218c51;
}
@media only screen and (min-width: 990px) {
  .project__info {
    width: 50%;
  }
}

.showcase__img {
  max-width: 100%;
  vertical-align: bottom;
}

.info__title {
  font-size: 1.5em;
}
.info__text {
  font-size: 1em;
  text-align: left;
  padding: 1em;
  line-height: 1.5;
}
.info__link {
  color: #dfdfdf;
  text-decoration: none;
}
.info__link:hover {
  color: #b9b935;
}
.info__btn {
  color: #dfdfdf;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}
.info__btn:hover {
  color: #3f8c21;
  background-color: #dfdfdf;
}

.aboutMe {
  margin: 20px auto;
}
.aboutMe__img {
  height: 170px;
  width: 170px;
  border-radius: 100%;
  margin: 1em;
}
.aboutMe__text {
  padding: 0 1em;
  color: #242424;
  font-size: 1.5em;
  line-height: 1.2;
}

.contact {
  background-color: #218c51;
}
.contact__title {
  padding: 0.5em 0;
  font-size: 2em;
}
@media only screen and (min-width: 500px) {
  .contact__text {
    font-size: 1.5em;
  }
}
.contact__links {
  font-size: 2em;
  padding-top: 20px;
}
@media only screen and (min-width: 500px) {
  .contact__links {
    font-size: 3em;
  }
}
.contact__mail {
  color: #dfdfdf;
  text-decoration: none;
}
.contact__mail:hover {
  color: #b9b935;
}
.contact__link {
  padding: 0 0.5em;
  color: #dfdfdf;
  text-decoration: none;
}
.contact__link:hover {
  color: #b9b935;
}

.footer {
  background-color: #218c51;
  padding: 20px;
}

/*# sourceMappingURL=styles.css.map */
