.aboutMe {
    margin: 28px auto;
    max-width: 33rem;
    &__img {
        height: 170px;
        width: 170px;
        border-radius: 100%;
        margin: 1em;
    }
    &__text{
        padding: 0 1em;
        font-size: 1.5em;
        line-height: 1.2;
    }
}