.contact {
    background-color: $main-color; 
    &__title {
        padding: 20px 0;
        font-size: 2em;
    }
    &__text {
        line-height: 20px;
        @include media($breakpoint-desktop){
            font-size: 1.5em;
            line-height: 30px;
        }
    }
    &__links {
        padding-top: 20px;
        @include media($breakpoint-desktop){
            font-size: 2em;
        }
    }
    &__mail {
        @include linkHover();
    }
    &__link {
        font-size: 2em;
        padding: 0 10px;
        @include linkHover();
        @include media($breakpoint-desktop){
            padding: 0 20px;
        }
    }
}