.navBar {
    background-color: $main-color;
    display: flex;  
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
    &__logo {
        @include nav();
        margin-left: 10px;
    }
    &__list {
        display: flex;
    }
    &__item {
        @include nav();
        margin-right: 10px;
    }
}