.projects {
    margin: 20px 0;
    @include media($breakpoint-desktop) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.project {
    display: block;
    margin: 20px auto;
    @include media($breakpoint-desktop) {
        display: flex;
    }
    &__showcase {
        @include media($breakpoint-desktop) {
            width: 50%;
        }
    }
    &__info {
        background-color: $main-color;
        padding: 30px 20px;
        @include media($breakpoint-desktop) {
            width: 50%;
        }
    }
}

.showcase {
    &__img {
        max-width: 100%;
        vertical-align: bottom;
    }
}

.info {
    &__title {
        font-size: 1.5em;
        padding-bottom: 20px;
    }
    &__link {
        @include linkHover();
    }
    &__btn {
        color: $text-color;
        text-decoration: none;
        display: inline-block;
        margin: 20px 10px 0;
        padding: 10px 20px;
        border: 1px solid $text-color;
        border-radius: 3px;
        &:hover {
            color: $secondary-color;
            background-color: $text-color;
        }
    }
}