$main-color: #218c51;
$secondary-color: #3f8c21;
$third-color: #215c8c;
$text-color: #dfdfdf;
$hover-color: #b9b935;
$banner-background: #3f8c21;

$breakpoint-large-mobile: 360px;
$breakpoint-tablet: 650px;
$breakpoint-desktop: 840px;